[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]

"flask-apispec" = "*"
"Flask-Migrate" = "*"
"psycopg2" = "*"
"Flask-Classful" = {git = "https://github.com/teracyhq/flask-classful"}

[dev-packages]